body {
	background-color:	#E0E0E0;
	text-align: 		center;
}

#Panel {
	width:				900px;
	margin:				0 auto;	
	padding:			0;
	background-color:	#FFFFFF;
}

#Control {
	position:			absolute;
	width:				320px;
	height:				20px;
	top:				20px;
	right:				0;
}

#MathTable {
	width:				100%;
	height:				480px;
	position:			relative;
	border-collapse:	collapse;
	
	font-size:			18px; 		
}

#NewQuiz {
	margin-left:		30px;	
}

.answer {
	margin-left:		6px;
	width:				50px;	
}

.right {
	background-color:	#80FF80;
}

.wrong {
	background-color:	#FF8080;
}